<ul class="pt-alternate-cards">
  {% assign reversed = site.case-studies | reverse %}
  {% for case in  reversed limit:3 %}
  {% assign url = case.url | downcase %}
    <li class="pt-alternate-card">
      <div class="pt-alternate-card__text-wrapper">
          <div class="pt-alternate-card__text">
              <h3 class="pt-alternate-card__title">
                  <a href="{{ url }}" aria-describedby="{{ case.title }}">
                  {{ case.title }}
                  </a>
              </h3>
              <span class="pt-alternate-card__tag">
                PASSO
              </span>
              <p>
                {{ case.description }}
              </p>
              <span 
              class="
                  cp-button 
                  cp-button--text
                  cp-button--with-icon 
                  cp-card__button"
                  aria-hidden="true" id="{{ case.title }}"
                >
                <span>
                  Read the case study
                </span>
                <span>
                    &rarr;
                </span>          
              </span>
          </div>
      </div>
      <div class="pt-alternate-card__figure">
        <img class="pt-alternate-card__img" src="{{ case.image.path }}" alt="{{ case.image.alternate }}" loading="lazy"/>
      </div>
    </li>
  {% endfor %}
</ul>


