<ul class="cp-client-list">
  <li>
      <a class="cp-client-list__link" href="#">
          <img class="cp-client-list__img" src="/assets/images/utg.png" alt="The Gambia College">
      </a>
  </li>
  <li>
      <a class="cp-client-list__link" href="#">
          <img class="cp-client-list__img" src="/assets/images/state-house.jpeg" alt="The Gambia College">
      </a>
  </li>
  <li>
      <a class="cp-client-list__link" href="#">
          <img class="cp-client-list__img" src="/assets/images/utg.png" alt="The Gambia College">
      </a>
  </li>
  <li>
      <a class="cp-client-list__link" href="#">
          <img class="cp-client-list__img" src="/assets/images/state-house.jpeg" alt="The Gambia College">
      </a>
  </li>
</ul>