@mixin colors {
  // Neutrals - Material Design Grays
  --neutral-900: #1a1a1a;
  --neutral-800: #3a3a3a;
  --neutral-700: #595959;
  --neutral-600: #6c6c6c;
  --neutral-500: #949494;
  --neutral-400: #b4b4b4;
  --neutral-300: #d8d8d8;
  --neutral-200: #e8e8e8;
  --neutral-100: #f2f2f2;
  --neutral-50: #f9f9f9;
  --white: hsl(0, 0%, 100%);


  // Brand
  --siroo-900: #f26b00;  
  //--siroo-800: #f38a00; 
  //--siroo-700: #f39a00;  
  --siroo-600: #f3ad00;  
  --siroo-500: #f3ba00;  // P


  // Interactive
  --interactive: var(--siroo-900); 

  // Notifications
  --success: #1f7b5c;
  --success-lighter: #b5e0d3;
  --success-lightest: #e1f2ee;
  --warning: #b38416;
  --warning-lighter: #e0b774;
  --warning-lightest: #f7eedd;
  --info: #00a0ab;
  --info-lighter: #94c4cc;
  --info-lightest: #e1f8fa;
  --error: #d63312;
  --error-lighter: #f95446;
  --error-lightest: #fbe8e7;

  // Transparent
  --tp-black-light: hsl(218deg 13% 12% / 35%);
  --tp-black-medium: hsl(218deg 13% 12% / 50%);
  --tp-black-dark: hsl(218deg 13% 12% / 75%);
}
