@mixin light-theme {
  --canvas: var(--white);
  --canvas-subdued-dark: var(--neutral-200);
  --canvas-subdued: var(--neutral-100);
  --canvas-subdued-light: var(--neutral-50);
  --text-on-canvas: var(--neutral-900);
  --text-on-canvas-subdued: var(--neutral-700);
  --canvas-code: var(--neutral-200);
  --canvas-code-text: var(--neutral-1000);
  --canvas-disabled: var(--neutral-75);
  --canvas-disabled-text: var(--neutral-700);
  --border-color: var(--neutral-100);
  --border-color-subdued: var(--neutral-75);
  --icon-color: var(--neutral-700);
  --icon-color-hovered: var(--neutral-800);

  // Brand
  --primary-enabled: var(--siroo-600);
  --text-on-primary-enabled: var(--white);
  --brand-hovered: var(--brand-dark);
  --brand-hovered-subdued: var(--brand-lightest);
  --brand-focused: var(--brand);
  --brand-focused-subdued: var(--brand-lighter);
  --brand-pressed: var(--brand);

  // Interactive-Theme -> focus indicators and selected interactive states
  --interactive-enabled: var(--interactive-darker);
  --interactive-text: var(--white);
  --interactive-background-selected: var(--interactive-lightest);
  --interactive-hovered: var(--interactive-dark);
  --interactive-focused: var(--interactive-darker);
  --interactive-pressed: var(--interactive-darker);
}
