---
layout: default
---
<main>

  <article class="cp-article">

    <header class="cp-article__header">

      <div class="cp-article__contain cp-article__header-contain">

        <h1 class="cp-article__title">
          {{ page.title }}
        </h1>

        <ul class="cp-article__categories">
          {% include utilities/categories-link.html %}
        </ul>

        <div class="cp-article__contain cp-article__contain--small cp-article__contain--align-left">
          {% if page.description %}
            <p class="cp-article__subtitle">
              {{ page.description }}
            </p>
          {% endif %}

          {% if page.meta %}
            <ul class="cp-article__meta">
              <li>
                <span>
                  Published:
                </span>
                <time class="js-posted-on" datetime="{{ page.meta.date | date_to_xmlschema }}">
                  <span class="js-posted-ago"></span> on 
                  {{ page.meta.date | date: "%d %b, %y" }}
                </time>
              </li>
              <li>
                <span>
                  <abbr title="Estimated Reading Time">ERT</abbr>
                </span>
                <time datetime="">
                  {{ page.meta.ert }}
                </time>
              </li>
            </ul>
          {% endif %}

        </div>

        {% if page.case_meta %}
          <dl class="ob-definition-list ob-definition-list--grid">
            {% for meta in page.case_meta %}
              <div>
                <dt>
                  {{ meta[0] }}
                </dt>
                <dd>
                  {{ meta[1] }}
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}

        {% if page.project_meta %}
          <dl class="ob-definition-list ob-definition-list--grid">
            {% for meta in page.project_meta %}
              <div>
                <dt>
                  {{ meta[0] }}
                </dt>
                <dd>
                  {{ meta[1] }}
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}

        {% if page.masthead %}

          <figure class="ob-artwork ob-artwork--at-center" role="banner">
            <picture>
              <source srcset="{{ page.masthead.path }}" media="(max-width: 1024px)">
              <source srcset="{{ page.masthead.path_large }}" media="(min-width: 1025px)">
              <img class="cp-article__img" src="{{ page.masthead.path }}" alt="{{ page.masthead.alternate }}"/>
            </picture>
            <figcaption>
              {{ page.masthead.caption }}
            </figcaption>
          </figure>

        {% endif %}
      </div>

      {% if page.case_masthead  %}

        <figure class="ob-artwork" role="banner">
          <picture>
            <source srcset="{{ page.case_masthead.path }}" media="(max-width: 1024px)">
            <source srcset="{{ page.case_masthead.path_large }}" media="(min-width: 1025px)">
            <img class="cp-article__img" src="{{ page.case_masthead.path }}" alt="{{ page.case_masthead.alternate }}"/>
          </picture>
          <figcaption>
            {{ page.case_masthead.caption }}
          </figcaption>
        </figure>

      {% endif %}

    </header>

    <div class="cp-article__content">
      <div class="cp-article__contain cp-article__contain--small">
        {{ content }}
      </div>
    </div>

    <footer class="cp-article__">

    </footer>

  </article>

</main>

