---
layout: page
title: Articles
description: "This is where I write about design engineering and my experience studying Computer Science, History and Islamic Studies."
subdescription: ""

permalink: /articles/
---

<section class="ob-section">
  <div class="ob-contain ob-contain--center">
    {% for article in site.posts limit:1 %}
    {% assign url = article.url | downcase %}
      <div class="cp-card cp-card--apart">
        <div class="cp-card__text">

            <h3 class="cp-card__title">
                <a href="{{ url }}" class="cp-card__link" aria-describedby="{{ article.title }}">
                  {{ article.title }}
                </a>
            </h3>

            <ul class="cp-card__tag cp-card__tag--list">
              {% include utilities/categories.html %}
            </ul>     

            <p>
              {{ article.description }}
            </p>

            <dl class="cp-card__meta">
              <div>
              <dt>
                  Published
              </dt>
              <dd>
                  <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                    {{ article.meta.date | date: "%d %b, %y" }}
                  </time>
              </dd>
              </div>
              <div>
              <dt>
                  <abbr title="Estimated Reading Time">ERT</abbr>
              </dt>
              <dd>
                {{ article.ert }} mins read
              </dd>
              </div>
            </dl>
        </div>

        <div class="cp-card__media">
          <img class="cp-card__img" src="{{ article.image.path }}" alt="{{ article.image.alternate }}" loading="lazy"/>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="ob-section">
  <div class="ob-contain ob-contain--center">
    <ul class="cp-articles">
      {% for article in site.posts limit: 15 offset: 0 %}
        {% assign url = article.url | downcase %}
        <li class="cp-articles__item"> 
            <div class="cp-card">
              <div class="cp-card__text">
      
                  <h3 class="cp-card__title">
                      <a href="{{ url }}" class="cp-card__link" aria-describedby="{{ article.title }}">
                        {{ article.title }}
                      </a>
                  </h3>
          
                  <ul class="cp-card__tag cp-card__tag--list">
                    {% include utilities/categories.html %}
                  </ul>    
          
                  <p>
                    {{ article.description }}
                  </p>
          
                  <dl class="cp-card__meta">
                    <div>
                    <dt>
                        Published
                    </dt>
                    <dd>
                      <time datetime="{{ article.meta.date | date_to_xmlschema }}">
                        {{ article.meta.date | date: "%d %b, %y" }}
                      </time>
                    </dd>
                    </div>
                    <div>
                    <dt>
                        <abbr title="Estimated Reading Time">ERT</abbr>
                    </dt>
                    <dd>
                      {{ article.ert }} mins read
                    </dd>
                    </div>
                  </dl>
              </div>
          
              <div class="cp-card__media">
                <img class="cp-card__img" src="{{ article.image.path }}" alt="{{ article.image.alternate }}" loading="lazy"/>
              </div>
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>