hr {
  display: block;
  overflow: visible;
  height: 1px;
  box-sizing: content-box;
  padding: 0;
  border: 0;
  border-top: 1px solid var(--border-color-subdued);
  margin-top: var(--size-44);
  margin-bottom: var(--size-44);
}
