html {
  scrollbar-color: var(--primary-enabled) var(--border-color);
}

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--border-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-enabled);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--brand-hovered);
}
